.header_1{
  display:grid;
  grid-template-columns: 90% 10%;
}
.header_1 > div{
  background: #AA0000;
  padding: 1.2em;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: white;
}
.header_2{
  display:grid;
  grid-template-columns: 82% 5% 3% 5% 5%;
}
.header_2 > div{
  background: #333333;
  padding: 1em;
  font-family: sans-serif;
  font-size: 14px;
  color: white;
}
.main_page{
  display:grid;
  grid-template-columns: 4fr 1fr;
}
.page_body{
  width: 1000px;
  height: 500px;
}
.page_body img {
  height: 100%;
  width: 100%;
}
.page_body > div{
  width: 100%;
  font-family: sans-serif;
  margin: 40px 20px
}
.page_title{
  font-size: 26px;
  font-weight: bold;
}
.page_sidebar{
  width: 300px;
  height: 200px;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.page_sidebar img {
  height: 100%;
  width: 100%;
  display: inline-block;
  margin: 25px 0px;
}
.footer {
  padding: 1.5em;
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background: #333333;
  color: white;
  font-family: sans-serif;
}
